{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            hikeplace: a place to log and manage information about your favourite hikes! </p>
        <p class="box">
            <i class="fas fa-map-marker-alt fa-10x" style="color:gold"></i>
        </p>
    </div>
</section>
  {{> footer}}