{{> welcome-menu}}

<section class="hero is-fullheight-with-navbar is-background" style="background-image: url('../images/main-background.jpg'); background-size: cover;">
    <div class="hero-body">
        <div class="container has-text-centered" style="margin: 0px 200px 200px 200px;">
            <div class="box" style="background-color: rgba(255, 255, 255, 0.7);">
                <h1 class="title is-size-1 has-text-green">
                    welcome to hikeplace
                </h1>
                <h2 class="subtitle is-size-4 has-text-green">
                    discover and explore amazing hiking trails near you
                </h2>
                <div class="buttons is-centered">
                    <a class="button is-primary is-large" id="signup" href="/signup">create Account</a>
                    <a class="button is-info is-large" id="login" href="/login">login</a>
                </div>
            </div>
        </div>
    </div>
</section>
  {{> footer}}



