{{> menu active="public"}}
<section class="section columns is-vcentered">
  <div class="column has-text-centered">
<h3 style="font-size: 24px; font-weight: bold;">view all publicly logged hikes here!</h3>
<section class="section">
{{> list-public-locations}}


  {{> footer}}