<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{> hikeplace-brand}}
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button" id="logout" href="/logout"> log out </a> 
        </div>
      </div>
    </div>
  </div>
</nav>