<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{> hikeplace-brand}}
    </a>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>